isport/Web References/WSUpWowZa/upWowza.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WowZaUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WowZaUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WowZaUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WowZaUploadSoapIn">
    <wsdl:part name="parameters" element="tns:WowZaUpload" />
  </wsdl:message>
  <wsdl:message name="WowZaUploadSoapOut">
    <wsdl:part name="parameters" element="tns:WowZaUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="upWowzaSoap">
    <wsdl:operation name="WowZaUpload">
      <wsdl:input message="tns:WowZaUploadSoapIn" />
      <wsdl:output message="tns:WowZaUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="upWowzaSoap" type="tns:upWowzaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WowZaUpload">
      <soap:operation soapAction="http://tempuri.org/WowZaUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="upWowzaSoap12" type="tns:upWowzaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WowZaUpload">
      <soap12:operation soapAction="http://tempuri.org/WowZaUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="upWowza">
    <wsdl:port name="upWowzaSoap" binding="tns:upWowzaSoap">
      <soap:address location="http://localhost:60878/admin/upWowza.asmx" />
    </wsdl:port>
    <wsdl:port name="upWowzaSoap12" binding="tns:upWowzaSoap12">
      <soap12:address location="http://localhost:60878/admin/upWowza.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>