isport/Web References/SendService/sendpost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP_PORT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COMMAND" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP_PORT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendGetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendPostSoapIn">
    <wsdl:part name="parameters" element="tns:SendPost" />
  </wsdl:message>
  <wsdl:message name="SendPostSoapOut">
    <wsdl:part name="parameters" element="tns:SendPostResponse" />
  </wsdl:message>
  <wsdl:message name="SendGetSoapIn">
    <wsdl:part name="parameters" element="tns:SendGet" />
  </wsdl:message>
  <wsdl:message name="SendGetSoapOut">
    <wsdl:part name="parameters" element="tns:SendGetResponse" />
  </wsdl:message>
  <wsdl:portType name="sendpostSoap">
    <wsdl:operation name="SendPost">
      <wsdl:input message="tns:SendPostSoapIn" />
      <wsdl:output message="tns:SendPostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendGet">
      <wsdl:input message="tns:SendGetSoapIn" />
      <wsdl:output message="tns:SendGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sendpostSoap" type="tns:sendpostSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPost">
      <soap:operation soapAction="http://tempuri.org/SendPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGet">
      <soap:operation soapAction="http://tempuri.org/SendGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sendpostSoap12" type="tns:sendpostSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPost">
      <soap12:operation soapAction="http://tempuri.org/SendPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGet">
      <soap12:operation soapAction="http://tempuri.org/SendGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sendpost">
    <wsdl:port name="sendpostSoap" binding="tns:sendpostSoap">
      <soap:address location="http://wap.isport.co.th/sport_center/paymentnew/ws/sendpost.asmx" />
    </wsdl:port>
    <wsdl:port name="sendpostSoap12" binding="tns:sendpostSoap12">
      <soap12:address location="http://wap.isport.co.th/sport_center/paymentnew/ws/sendpost.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>